[worldserver]

PvPstatsAnnouncer.Enabled=1
PvPstatsAnnouncer.Limit=5
PvPstatsAnnouncer.BracketId=8
PvPstatsAnnouncer.RepeatMinutes=30
PvPstatsAnnouncer.StartText="Top de los 5 jugadores PvP con mas BG ganados este Mes:"
PvPstatsAnnouncer.EndText="Todas las estadisticas PvP en https://pvpstats.amanthul.nat.cu/"
